body{
    background-color:blue;
}

img{
    max-width: 100%;
    display: none;
    vertical-align: middle;
}
.active{
    display: block;
}


  /*
.slider{
    position: relative;
}
/*
.controls{
    position:absolute;
    top: 10px;
    left:15px;
}*/