body{
    background-color:blue;
}

img{
    max-width: 100%;
    display: none;
    vertical-align: middle;
}
.active{
    display: block;
}


.prev{
    bottom: 55px;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.733);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.next{
    bottom: 55px;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.733);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}